@charset "utf-8";

.more-btn a{display: block; width: 100px; height: 30px; line-height: 28px; padding: 0 18px; box-sizing: border-box; font-size: 1.4rem; font-family: pretendard, sans-serif; font-weight: 400; border: 1px solid #fff; border-radius: 15px; background-image: url('/public/image/static/ico_fw_w.svg'); background-repeat: no-repeat; background-size: 7px 12px; background-position: right 18px top 50%;}

.txt-els{display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient: vertical; overflow: hidden;}

/* main */
#main{padding: 0 0 130px; box-sizing: border-box;}
/* #main .section1 .inner{height:100vh;} */

#main .section .inner{padding-top: 70px;}
#main .section .title-area{display: flex; align-items: center; justify-content: space-between;}
#main .section .title-area .tit-box{display: inline-flex;}
#main .section .title-area .tit-box h3{height: 42px; line-height: 42px; font-size: 2.6rem; font-weight: 700;}
#main .section .title-area .tit-box2{margin-left: -18px;}
#main .section .title-area .tit-box2 a{padding:0 18px; position: relative;}
#main .section .title-area .tit-box2 a::before{content: ''; display: block; clear: both; width: 1px; height: 14px; position: absolute; left: 0; top: 50%; margin-top: -7px; background-color: rgba(255, 255, 255, 0.4);}
#main .section .title-area .tit-box2 h3:first-child a::before{display: none;}
#main .section .title-area .tit-box2 a{color: rgba(255, 255, 255, 0.8);}
#main .section .title-area .tit-box2 a.on{color: #fff;}
#main .section .title-area .tit-box3 h3{font-size: 2.4rem;}
#main .section .cont-area{margin-top: 30px;}
#main .section .slide-area .box > a{display:block;}
#main .section .slide-area .swiper-button-prev, #main .section .slide-area .swiper-button-next{width: 60px; height:60px; position: absolute; top: calc(50% - 2px); z-index: 5; background-repeat: no-repeat; background-color: rgba(255, 255, 255, 0.7); background-position: 50% 50%; border-radius: 50%; cursor: pointer; box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);}
#main .section .slide-area .swiper-button-prev{left: 0; background-image: url('/public/image/static/ico_prev1.png');}
#main .section .slide-area .swiper-button-next{right :0; background-image: url('/public/image/static/ico_next1.png');}
#main .section .slide-area .swiper-button-disabled{display: none;}

#main .section1 .inner{padding-top: 0;}
#main .section1 .video-wrap::before{content: ''; display: block; clear: both; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%)}
#main .section1 .movie-info{position: absolute; left: 8%; top: 50%; z-index:5; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
/* #main .section1 .video-wrap:hover .movie-info{opacity: 1;} */
#main .section1 .movie-info strong{display:block; font-size: 5.5rem; font-weight: 700; letter-spacing:-0.5px; line-height: 1; text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);}
#main .section1 .movie-info p{margin-top: 20px; font-size: 2.4rem; font-weight: 600; line-height: 1.4; overflow: hidden;}
#main .section1 .movie-info .control-box{margin-top: 20px; display: flex; flex-direction: row; font-size:0;}
#main .section1 .movie-info button{display: block; margin-left:10px; width: 30px; height: 30px; border-radius: 50%; border: 1px solid #fff; background-color: transparent; background-size: 18px;}
#main .section1 .movie-info .btn-play{background-image: url('/public/image/static/ico_pause.png');}
#main .section1 .movie-info .btn-play.on{background-image: url('/public/image/static/ico_play.png');}
#main .section1 .movie-info .btn-sound{background-image: url('/public/image/static/ico_sound_off.png');}
#main .section1 .movie-info .btn-sound.on{background-image: url('/public/image/static/ico_sound_on.png');}

#main .section2 .size, #main .section3 .size{padding: 0 55px;}
#main .section2 .inner, #main .section3 .inner{position: relative; padding:70px 25px 0; overflow: hidden;}
#main .section2 .swiper, #main .section3 .swiper{overflow: initial; position: static;}

#main .section2 .movie-slide .movie-poster{position: relative; border-radius: 15px; overflow: hidden;}
#main .section2 .movie-slide .movie-poster::before{content: ''; display: block; clear: both; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 3; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.07) 35%, rgba(0, 0, 0, 0.6)); background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.07) 35%, rgba(0, 0, 0, 0.6));}
#main .section2 .movie-slide .movie-poster .level{position: absolute; left: 15px; bottom: -5px; z-index: 5;}
#main .section2 .movie-slide .movie-poster .level b{display: block; font-size: 6rem; font-style: italic; font-weight: 700; line-height: 1;}
#main .section2 .movie-slide .movie-poster .agelimit{position: absolute; right: 10px; top: 10px; z-index: 2;}
#main .section2 .movie-slide .movie-poster .agelimit img{width:25px; height:25px;}
#main .section2 .movie-slide .movie-poster .hover{width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; left: 0; top: 0; z-index: 10; background-color: rgba(0, 0, 0, 0.7); font-size: 0; text-align: center; opacity: 0;}
#main .section2 .movie-slide .movie-poster .hover a{display: inline-block; width: 130px; height: 40px; line-height: 40px; font-size: 1.6rem; font-weight: 500; border-radius: 10px;}
#main .section2 .movie-slide .movie-poster .hover a:hover{opacity: 0.8;}
#main .section2 .movie-slide .movie-poster .hover .hv_btn1{background-color: #fff; color: #666;}
#main .section2 .movie-slide .movie-poster .hover .hv_btn2{margin-top: 10px; background-color: #fb4357;}
#main .section2 .movie-slide .movie-poster:hover::before{background-image: none;}
#main .section2 .movie-slide .movie-poster:hover .level{opacity: 0;}
#main .section2 .movie-slide .movie-poster:hover .hover{opacity: 1;}
#main .section2 .movie-slide .movie-info{margin-top: 15px; text-align: center;}
#main .section2 .movie-slide .movie-info strong{height:26px; line-height:26px; font-size: 2rem; font-weight: 700;}
#main .section2 .movie-slide .movie-info span{display: block; margin-top:10px; font-size: 1.6rem; font-weight: 500; line-height: 1;}

#main .section3 .title-area .tit-box h3{font-size: 3.2rem;}
#main .section3 .slide-area .swiper-button-prev, #main .section3 .slide-area .swiper-button-next{top: calc(50% + 5px);}
#main .section3 .event-slide .event-poster{border-radius: 15px; overflow: hidden;}
#main .section3 .event-slide .event-poster .imgs{transition: all .4s ease; -webkit-transition: all .4s ease; -ms-transition: all .4s ease; -moz-transition: all .4s ease;}
#main .section3 .event-slide .event-poster:hover .imgs{transform: scale(1.05); -webkit-transform: scale(1.05); -ms-transform: scale(1.05); -moz-transform: scale(1.05);}
#main .section3 .event-slide .event-info{margin-top: 15px;}
#main .section3 .event-slide .event-info strong{height:26px; line-height:26px; font-size: 2rem; font-weight: 700;}
#main .section3 .event-slide .event-info span{display: block; margin-top:10px; font-size: 1.6rem; font-weight: 400; line-height: 1;}

#main .section4 .theater-area{display: flex; flex-direction: row;}
#main .section4 .theater-area .left{flex-shrink: 0; flex-basis: 750px;}
#main .section4 .theater-area .left a{display: block;}
#main .section4 .theater-area .right{padding-left: 50px; box-sizing: border-box; flex-grow: 1;}
#main .section4 .theater-area .right ul li a{display:block;}
#main .section4 .theater-area .right ul li .box{padding: 30.16px; display :flex; align-items: center; justify-content: space-between; border: 1px solid transparent; border-top: 1px solid rgba(255, 255, 255, 0.5);}
#main .section4 .theater-area .right ul li:last-child .box{border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
#main .section4 .theater-area .right ul li .box em{display: block; font-size: 2.2rem; font-weight: 600; letter-spacing:-0.5px;}
#main .section4 .theater-area .right ul li.active .box{border: 1px solid #fff; border-radius: 16px;}
#main .section4 .theater-area .right ul li.active + li .box{border-top: 1px solid transparent;}

/* #main .section5 .more-btn a{width: 80px; background-image: none; text-align: center;}
#main .section5 .prd-case{display: flex;}
#main .section5 .prd-box{width: calc(33.3333% - 40px); width: -webkit-calc(33.3333 - 40px); margin-left: 40px; flex-grow: 1;}
#main .section5 .prd-box:first-child{margin-left:0;}
#main .section5 .prd-list ul li a{display: block;}
#main .section5 .prd-list .prd-info{display: flex; align-items: center;}
#main .section5 .prd-list .prd-info .imgs{width:75px; height:76px;} */
#main .section5 .cont-area{margin-top: 0;}
#main .section5 .app-area{padding: 140px 0; background-image: url('/public/image/static/specialtheater_premium0.jpg'); background-repeat: no-repeat; background-size: cover; background-position: 14px 50%; text-align: center; position: relative; z-index: 10;}
#main .section5 .app-area::before{content: ''; display: block; clear: both; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);}
#main .section5 .txt-area, #main .section5 .btn-area{position: relative; z-index: 10;}
#main .section5 .txt-area span{display: block; font-size: 1.4rem; font-weight: 500; letter-spacing: 12px; line-height: 1;}
#main .section5 .txt-area strong{display: block; margin-top: 20px; font-size: 3.4rem; font-weight: 600; letter-spacing: -0.5px; line-height: 1;}
#main .section5 .btn-area{margin-top: 25px; font-size: 0;}
#main .section5 .btn-area a{display: inline-block; vertical-align: middle; margin-left: 16px; width: 250px; height: 77px; line-height: 77px; background-color: #232323; border-radius: 38.55px; box-sizing: border-box;}
#main .section5 .btn-area a:first-child{margin-left: 0;}
#main .section5 .btn-area .app-store img{width: 120px;}
#main .section5 .btn-area .google-play img{width: 128px;}

#sub .sec_wrap{padding: 70px 0 55px;}
#sub .section .title-area{display: flex; justify-content: space-between; align-items: flex-end;}
#sub .section .title-area .tit-box h2{font-size: 3.6rem; font-weight: 700; line-height: 1;}
#sub .section .filter ul li{float: left;}
#sub .section .filter ul li a{display: block; padding: 0 15px; box-sizing: border-box; font-size: 1.8rem; color: rgba(255, 255, 255, 0.8); position: relative; line-height: 1;}
#sub .section .filter ul li a::before{content: ''; display: block; clear: both; width: 1px; height: 14px; position: absolute; left: 0; top: 50%; margin-top: -7px; background-color: rgba(255, 255, 255, 0.4);}
#sub .section .filter ul li:first-child a::before{display: none;}
#sub .section .filter ul li a.on{color: #fff;}
#sub.movie-idx .section1 ol{width: calc(100% + 60px); width: -webkit-calc(100% + 60px); margin-left: -60px; margin-top: -60px;}
#sub.movie-idx .section1 ol li{float: left; width: calc(25% - 60px); width: -webkit-calc(25% - 60px); margin-left: 60px; margin-top: 60px;}





